<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Financial API</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>Financial API</h1>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>METHOD</th>
            <th>USE</th>
            <th>API END POINT</th>
            <th>EXAMPLE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>GET</td>
            <td>Get all details</td>
            <td>https://finance-api-abfx.onrender.com/</td>
            <td><a href="https://finance-api-abfx.onrender.com/">Link</a></td>
          </tr>
          <tr>
            <td>GET</td>
            <td>Get a single detail</td>
            <td>https://finance-api-abfx.onrender.com/id</td>
            <td><a href="https://finance-api-abfx.onrender.com/1">Link</a></td>
          </tr>
          <tr>
            <td>POST</td>
            <td>Create a detail</td>
            <td>https://finance-api-abfx.onrender.com/</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>PATCH</td>
            <td>Update a detail</td>
            <td>https://finance-api-abfx.onrender.com/</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>DELETE</td>
            <td>Delete a detail</td>
            <td>https://finance-api-abfx.onrender.com/id</td>
            <td>N/A</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
