<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Financial API</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>Financial API</h1>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>METHOD</th>
            <th>USE</th>
            <th>API END POINT</th>
            <th>EXAMPLE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>GET</td>
            <td>Get all users</td>
            <td>https://finance-api-abfx.onrender.com/users/</td>
            <td>
              <a href="https://finance-api-abfx.onrender.com/users/">Link</a>
            </td>
          </tr>
          <tr>
            <td>POST</td>
            <td>Create a user</td>
            <td>https://finance-api-abfx.onrender.com/users/</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>POST</td>
            <td>Login a user</td>
            <td>https://finance-api-abfx.onrender.com/users/login</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>GET</td>
            <td>Get all startups</td>
            <td>https://finance-api-abfx.onrender.com/business/</td>
            <td>
              <a href="https://finance-api-abfx.onrender.com/business/">Link</a>
            </td>
          </tr>
          <tr>
            <td>POST</td>
            <td>Create a detail</td>
            <td>https://finance-api-abfx.onrender.com/business/</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>DELETE</td>
            <td>Delete a detail</td>
            <td>https://finance-api-abfx.onrender.com/business/id</td>
            <td>N/A</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
